/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "primeicons/primeicons.css";

:root {
  --pj-primary: #3b6e62;
  --pj-secondary: #488b7a;

  --pj-background: #f8fafc;
  --pj-border: #d1d5db;
  --pj-text: #0f172a;
}

.pj-section {
  border: 1px solid var(--pj-secondary);
  border-radius: 0.75rem;
  background: white;
  overflow: hidden;
}

.pj-section-header {
  background: var(--pj-primary);
  color: white;
  padding: 0.75rem 1rem;
}

.pj-field {
  border: 1px solid var(--pj-border);
  border-radius: 0.5rem;
  background: var(--pj-background);
  padding: 0.75rem;
  min-height: 44px;
}

.pj-title {
  color: var(--pj-primary);
}

.pj-btn {
  background: var(--pj-primary) !important;
  border-color: var(--pj-primary) !important;
}

.pj-btn:hover {
  background: var(--pj-secondary) !important;
  border-color: var(--pj-secondary) !important;
}